/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{

	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.example-block {
	overflow:hidden;
	font-size: 12px; 
	margin: 10px 0 10px 0; 
	border: 9px solid #952525;
	outline: 10px solid #342595; 
	box-shadow: 5px 5px 10px 15px 0px; 
	opacity: 1px; 
	visibility: visible;
\
}
.example-string {
	font-size: 12px; 
	outline: 1px solid #342595; 

}
.example-image {
	margin: 10px 0px 0px 10px; 
	border:10px solid #952525; 
	outline: 10px dashed green;  
	border-radius: 100px; 
	width: 500px;
	height: 500px;





}

/*sverhu - sprava - snizu - sleva*/ 

/*sverhu - sleva/sprava - snizu*/ 

/*sverhu/snizu - sleva/sprava */

/*sverhu/snizu - sleva/sprava */

/*everywhere*/











